{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
    <title>AbsensiOnline | Home </title>
  </head>
  <body>
    <div class="row" style="background-image: linear-gradient(to right,  rgb(11, 11, 138),rgb(3, 3, 83));">
      <div class="col-6">
        <div class="container text-white pt-4" style="height: 450px;">
          <div class="head ps-5 pt-5" style="margin: 50px auto;" >
            <h1 class="">Absensi Karyawan<a class="text-primary" href="/" style="text-decoration: none;">Online</a></h1>
            <p class="pe-5">Lorem ipsum dolor sit amet, consectetur facilis adipisicing elit <br>  
              accusantium,Lorem ipsum dolor sit amet, consectetur <br>
              saepe dignissimos a ut ex facilis inventore!</p>
            <a href="{%url 'absen:login'%} " class="btn btn-primary" style="height: 40px; width: 120px;"> Login </a>
            <a href="{% url 'absen:register'%}" class="btn btn-outline-primary text-white"  style="height: 40px; width: 120px;"> Register </a>
          </div>

        </div>
      </div>

      <!-- img -->
      <div class="col-6 d-flex justify-content-end">
        <div class="">
          <img src="{%static 'img/header.png'%}" width="380px" class="">
        </div>
      </div>
    </div>

    <div class="container py-5 text-center container">
      <div class="row">
        <div class="col-12">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Siapa yang sudah Absen?</h1>
              <p class="lead text-muted">berikut adalah rincian data karyawan yang sudah hadir atau melakukan absen</p>
             
            </div>
          </div>
        </div>
      </div>

      <!-- isi -->
    
    </div>

    <!-- footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top text-white" style="background-image: linear-gradient(to right,  rgb(11, 11, 138),rgb(3, 3, 83));">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="text-muted">© 2023 Elcoder, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5 ">
        <li class="ms-3"><a class="text-muted" href="#"><i width="24" height="24" class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i width="24" height="24" class="bi bi-facebook"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i width="24" height="24" class="bi bi-instagram"></i></a></li>
      </ul>
    </footer> 


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{%static 'js/bootstrap.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
  </body>
</html>